# NPM configuration for deployment reliability
# Used as fallback if yarn has issues

registry=https://registry.yarnpkg.com/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
